@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Cinzel", serif;
}

@theme{
    --color-1:#191919;
    --color-2:#1B1B1B;
    --color-3:#F05D2C;
    --color-4:#8c8c8c;
}
